input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
    
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .row {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
  }
