/* labes styles */
.col-25 {
    text-align: justify;
    color: #234465;
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    height: 29px;
    width: 200%;
  }

/* input styles */
.col-75 {
    float: left;
    width: 93%;
    margin-top: 6px;
}

.input-error-wrapper {
  display: flex;
}

.error {
  display: flex;
  justify-content: flex-end;
  height: 29px;
  width: 300%;
  font-size: small;
  color: red;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], [type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(166, 167, 167);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(155, 156, 156);;
}


