.header {
    background-color: #347aca;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    height: 70px;
    align-items: center;
}


.logo{
    
    margin: 20px;
}
