input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: auto;
    float: right;
  }
    
  input[type=submit]:hover {
    cursor: auto;
    background-color: #45a049;
  }

  input[type=submit]:disabled {
    cursor: not-allowed;
    background-color:#cde2cd;
  }

  .row {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
  }
